#one,#six
{
    height: 130px;
    width: 87px;
    background-color: aquamarine;
}
#two,#seven
{ height: 130px;
    width: 87px;
    background-color: dodgerblue;
}
#three,#eight
{ height: 130px;
    width: 87px;
    background-color: mediumpurple;
}
#four, #nine
{ height: 130px;
    width: 87px;
    background-color: darkorange;
}
#five
{ height: 130px;
    width: 87px;
    background-color: red;
}

.container {
    height: 28vw;
    width: 28vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
align-items: baseline;
    justify-content: space-between;


}
#five
{
    width: 95%;
    height: 20%;
    padding: 10px 10px;
    justify-content: space-between;


}
